@font-face {
    font-family: 'Barlow';
    font-style: normal;
    font-display: swap;
    font-weight: 400;
    src:
    url('../fonts/barlow-v12-latin-regular.woff2') format('woff2'),
    url('../fonts/barlow-v12-latin-regular.woff') format('woff');
}

@font-face {
    font-family: 'Barlow';
    font-style: normal;
    font-display: swap;
    font-weight: 500;
    src:
    url('../fonts/barlow-v12-latin-500.woff2') format('woff2'),
    url('../fonts/barlow-v12-latin-500.woff') format('woff');
}

@font-face {
    font-family: 'Fraunces';
    font-style: normal;
    font-display: swap;
    font-weight: 400;
    src:
    url('../fonts/fraunces-v22-latin-regular.woff2') format('woff2'),
    url('../fonts/fraunces-v22-latin-regular.woff') format('woff');
}

@font-face {
    font-family: 'Fraunces';
    font-style: normal;
    font-display: swap;
    font-weight: 500;
    src:
    url('../fonts/fraunces-v22-latin-500.woff2') format('woff2'),
    url('../fonts/fraunces-v22-latin-500.woff') format('woff');
}

@font-face {
    font-family: 'Fraunces';
    font-style: normal;
    font-display: swap;
    font-weight: 700;
    src:
    url('../fonts/fraunces-v22-latin-700.woff2') format('woff2'),
    url('../fonts/fraunces-v22-latin-700.woff') format('woff');
}

@font-face {
    font-family: 'Fraunces';
    font-style: normal;
    font-display: swap;
    font-weight: 900;
    src:
    url('../fonts/fraunces-v22-latin-900.woff2') format('woff2'),
    url('../fonts/fraunces-v22-latin-900.woff') format('woff');
}

* {
    box-sizing: border-box;
}

img {
    vertical-align: middle;
}

body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: 'Fraunces';
    overflow-x: hidden;
    padding-top: 45px;
    padding-bottom: 88px;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0)
}

.container {
    max-width: 1320px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 45px;
}

.header-list {
    list-style-type: none;
    display: flex;
    align-items: center;
    margin-left: -16px;
    margin-right: -16px;
    margin: 0;
    padding: 0;
}

.header-item {
    margin-left: 16px;
    margin-right: 16px;
}

.header-item-link {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    color: #83888F;
}

.container-bg-image {
    width: 1280px;
    height: 600px;
    background-image: url(./../images/coffee_bg_image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 117px 702px 117px 85px;
    margin-bottom: 136px;
}

.hero-left-wrapper {
    width: 493px;
}

.hero-heading {
    font-family: 'Fraunces 9pt';
    font-weight: 900;
    font-size: 72px;
    line-height: 72px;
    color: #FEFCF7;
    margin: 0;
    margin-bottom: 32px;
}

.hero-text {
    width: 445px;
    font-family: 'Barlow';
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #FEFCF7;
    opacity: 0.8;
    margin: 0;
    margin-bottom: 55px;
}

.hero-link {
    font-family: 'Fraunces 9pt';
    font-weight: 900;
    font-size: 18px;
    line-height: 25px;
    color: #FEFCF7;
    background: #0E8784;
    border-radius: 6px;
    padding: 15px 31px;
}

.services-container {
    background-image: url(./../images/Group.png);
    background-repeat: no-repeat;
    background-position: calc(50% + 0) 20px;
    padding-top: 126px;
    margin-bottom: 200px;
}
.services-list {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}

.services-item {
    width: 255px;
}

.services-item-heading {
    text-align: center;
    font-family: 'Fraunces 9pt';
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
    color: #333D4B;
    margin: 0;
    margin-top: 72px;
    margin-bottom: 24px;
}

.services-item-text {
    text-align: center;
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #333D4B;
    margin: 0;
}

.choose-container {
    background-color: #2C343E;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 370px 317px 370px;
    border-radius: 20px;
    position: relative;
    margin-bottom: 200px;
}

.choose-heading {
    font-family: 'Fraunces 9pt';
    font-weight: 900;
    font-size: 40px;
    line-height: 48px;
    color: #FEFCF7;
    text-align: center;
}

.choose-text {
    width: 540px;
    font-family: 'Barlow';
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    opacity: 0.8;
    color: #FEFCF7;
    text-align: center;   
}

.choose-list {
    list-style-type: none;
    display: flex;
    align-items: center;
    margin-left: -15px;
    margin-right: -15px;
    margin: 0;
    padding: 0;
    position: absolute;
    bottom: -160px;
    left: 70px;
}

.choose-item {
    position: relative;
    width: 350px;
    background: #0E8784;
    border-radius: 8px;
    margin-left: 15px;
    margin-right: 15px;
    padding: 72px 48px 48px 48px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* .choose-item::before {
    display: inline-block;
    content: '';
    width: 72px;
    height: 72px;
    background-image: url(./../images/coffee-bean.svg);
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    top: 20%;
    left: 38%;
} */

.choose-item-heading {
    font-family: 'Fraunces 9pt';
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
    color: #FEFCF7;
    text-align: center;
    margin: 0;
    margin-top: 56px;
    margin-bottom: 24px;
}

.choose-item-text {
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #FEFCF7;
    text-align: center;
    margin: 0;
}
