.hero {
    // .hero__left-wrapper
    
    &__left-wrapper {
        width: 493px;
    }
    
    // .hero__heading
    
    &__heading {
        font-weight: 900;
        font-size: 72px;
        line-height: 72px;
        color: #FEFCF7;
        margin: 0;
        margin-bottom: 32px;
    }
    
    // .hero__text
    
    &__text {
        width: 445px;
        font-family: 'Barlow';
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;
        color: #FEFCF7;
        opacity: 0.8;
        margin: 0;
        margin-bottom: 55px;
    }
    
    // .hero__link
    
    &__link {
        font-weight: 900;
        font-size: 18px;
        line-height: 25px;
        color: #FEFCF7;
        background: #0E8784;
        border-radius: 6px;
        padding: 15px 31px;
    }
}
.container {
    
    // .container__bg-image
    
    &__bg-image {
        width: 1280px;
        height: 600px;
        background-image: url(./../images/coffee_bg_image.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        padding: 117px 702px 117px 85px;
        margin-bottom: 136px;
    }
}

.container {
    
    // .container__bg-img
    
    &__bg-img {
        width: 1280px;
        height: 450px;
        background-image: url(./../images/coffee_bg_image2.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        padding: 137px 750px 137px 85px;
        margin-bottom: 168px;
    }
}

